/* Desktop */
.story-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    margin-bottom: 60px;
    padding: 10px;

    border-bottom: 1px solid #777777;
}

.story-section#assignments {
    margin-bottom: 0;
    border-bottom: 0px;
}

.story-topic {
    text-align: center;
    font-size: 30px;
}

.story-ctn {
    margin-top: 20px;
    list-style: none;
}

.story {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-left: 2px solid #f8f9fa;  
    transition: ease-out 0.5s;   
    padding: 0px 10px;
}

.story:hover {
    border-left: 2px solid #777777;
}

.story-number {
    font-size: 25px;
    text-align: left;
}
.story-txt {
    text-align: left;
}

.optional {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00db00;
    font-size: 15px;
    border-radius: 5px;
    width: 65px;
    height: 22px;
}

/* Mobile */
@media (max-width: 768px) {
    .story-section {
    
    }
    .story-topic {
    
    }
    
    .story-ctn {
    
    }
    
    .story {}

}