@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: rgb(3, 3, 134);
    text-decoration: none;
    font-weight: 700;

}

button, .button {
    padding: 0.5em;
    margin: 0.5em;
}

.date {
    color: blue;
    font-size: 0.75em;
    margin-left: 0.5em;
}

.page {

    padding: 1em;
    background-color: #f5f5f5;

}

.page h1 {
    padding: 0.5em;
    text-align: center;
}

.page ul {
    list-style-type: none;
    margin-top: 10vh;
}

@media (min-width: 1200px) {
    .page {
        display: flex;
        justify-content: center;
        flex-flow: column;
        width: 960px;
        margin: 0 auto;
    }
}